extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputFName(type="text", placeholder="fname", name="fname")
        input#inputLName(type="text", placeholder="lname", name="lname")
        button#btnSubmit(type="submit") submit
